.main-line{
    height:60px;
  
    display:grid; 
    grid-template-columns:1fr 7fr 2fr; 
    box-shadow: 5px 5PX 5PX;
    background-color: rgb(255, 255, 255);
    
}
.left{
    color:blueviolet ;
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
}
.left:hover{
background-color: aliceblue;

}
#center{
    text-align: center;
    display:grid; 
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr; 
    font-weight:700 ;
    font-size: large;
}
.link{
    padding: 15px;

}
.link:hover{
    color: blue;
    cursor: pointer;
    border: 2px rgb(178, 175, 175) solid;
}
#main-body{
    display:grid; 
   grid-template-columns:1fr 1fr;
   height: 900px;
   padding-left: 10px;
}

#picture{
 margin:75px
    
}
#hi{
   margin-top: 100px; 
    margin-bottom:10px;
}
img{
    width: 50px;
    height: 50px;
    margin:30px;
a:hover{
    cursor: pointer;

}
img:hover{
    opacity: 0.4px;
}
}
#first{
    font-size: xxx-large;
    color: blue;
    margin: 0;
}
#last{
        margin: 0;
        font-size: xxx-large;
}
a{
    text-decoration: none;
}
#intro{
    font-family: cursive;
    font-size: 19px;
}

    

.Education{
display: grid;
grid-template-rows:100px 1fr 1fr 1fr;
background-image:'https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDczLWt6cGhnMjR1LmpwZw.jpg';
margin-left: 200px;
}
#clg-logo{
    padding-right: 30px;
    
}
.inst{
    display: grid;
    grid-template-columns:170px 1fr;
    margin-top: 18px;
    border: black 2px solid;
    height: 150px;
    width:80%;
    font-size: 22px;
    box-shadow: 10px 10px 10px gray;
  
}
#logo{
    padding-top: 10px;
    margin: 0;
    height: 130px;
    width: 150px;
    
}
.Edu-title{
    color:darkblue;
    font-size: 50px;
    margin-left: 300px;
    
}
.my{
   
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
#map{
    border: black 5px solid;
}
#cont{
    font-size:24px ;
}